<!-- use this launch file when you started the openni kinect nodes with 
     roslaunch turtlebot_bringup kinect.launch -->
<launch>
    <param name="marker_dist_threshold" type="double" value="0.01" />
    
    <node pkg="ar_bounding_box" type="ar_kinect" name="ar_kinect" respawn="false" output="screen">
        /camera/depth_registered/camera_info:=/camera/depth/camera_info
        <remap from="/camera/depth_registered/camera_info" to="/camera/depth/camera_info"/>
        <remap from="/camera/depth_registered/points" to="/camera/rgb/points"/>
    </node>
</launch>
